.activityItem {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid gray;
	padding-bottom: 36px; /* Need to be a same value as .activitiesContainer gap (pages/Activities) */
	gap: 36px;
}

.ActivityInformationsContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.activityText {
	font-size: 16px;
}
