.modalBackground {
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.725);
	z-index: 10000;
}

.modal {
	width: 600px;
	min-height: 300px;
	position: sticky;
	top: 15%;
	left: calc(50% - 300px);
	background-color: white;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 30px;
	padding-left: 50px;
	padding-right: 50px;
	justify-content: space-between;
}

.headerWithImage {
	width: 100%;
}

.headerTitle {
	font-size: 20px;
}

.modalImage {
	width: 100%;
}

.rightEmoji {
	font-size: 25px;
	position: absolute;
	top: 30px;
	right: 50px;
	background-color: white;
	border-radius: 50%;
}
