.textInput {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.inputContainer {
	border: 1px solid #bfbfbf;
	background-color: white;
	display: flex;
	align-items: center;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 5px;
	height: 36px;
	width: 100%;
}

.input {
	border: none !important;
	background-color: white;
	outline: none;
}

.icon {
	font-size: 20px;
	margin-right: 8px;
	color: #bfbfbf;
}
